<form class="aclWidget" about="{{about}}"> 
  Who can see <a href="{{about}}">{{desc}}</a>: <button>&#9660;</button>
  <div class="expandable" style="display: none">
    <ul class="accessAgents">
      {{#agents}}
      <li class="{{liClass}}">
	<input autocomplete="off" type="checkbox" {{{checked}}} {{{disabled}}}
	       class="acl-set" about="{{uri}}" id="{{checkId}}"> 
	<label for="{{checkId}}">{{label}}</label>
	<span class="result"></span>
	<div>
	  {{#authorizations}}
	  <div><a href="{{auth}}">(made by {{creator}} at {{created}})</a></div>
	  {{/authorizations}}
	</div>
      </li>
      {{/agents}}
    </ul>
    <div>
      Email access 
      <input type="text" name="sendEmail" autocomplete="off"> 
      <span class="result"></span>
      <button class="postEmailAccess" type="submit">Send now</button>
    </div>
  </div>
</form>
