<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- per http://www.piclens.com/lite/webmasterguide.php -->
    <link rel="alternate" 
          type="application/rss+xml" title="" id="gallery" href="{{rssHref}}"/>

    <!-- if we're on a phone screen, things should shrink accordingly -->
   <link rel="Stylesheet" type="text/css" href="/static/styles.css?v4" media="all" />
    <title id="title">{{title}}</title>
    <script type="text/javascript" src="{{bestJqueryLink}}"/>
  </head>
  <body>
    <div id="ajaxError" style="display:none"/>
    <div class="loginRow">{{{loginWidget}}}</div>
    
    <div id="topBar">
      {{> topBar}}
    </div>

    <div id="featured">
      {{> featured}}
    </div>

    <table id="featuredMeta">
      {{> featuredMeta}}
    </table>
    <div id="photosInSet">
      {{> photosInSet}}
    </div>

    <div class="ac">
      <div class="expand">&#8853; tag range</div>
      <div class="tagRange">
        <div id="rangeState"></div>
        <div id="rangeStart">
          1. <button>Pick range start</button>: 
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVR42mP4//8/AAX+Av4zEpUUAAAAAElFTkSuQmCC"/>
          <span class="pick"/>
        </div>
        <div id="rangeEnd">
          2. <button>Pick range end</button>: 
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVR42mP4//8/AAX+Av4zEpUUAAAAAElFTkSuQmCC"/>
          <span class="pick"/>
        </div>
        <div id="addForm">
          <div>
            3. These pictures depict: <input name="label" id="addColumnLabel" type="text"/>
          </div>
          <div class="uriControl">
            <div style="float:left; padding-left: 10px;">
              Class:
              <select name="class" style="vertical-align: top" size="3"> <!-- should be radios-->
                <option value="http://xmlns.com/foaf/0.1/Person">Person</option>
                <option value="http://photo.bigasterisk.com/0.1/Place">Place</option>
                <option value="http://photo.bigasterisk.com/0.1/Event" selected="selected">Event</option>
              </select>
            </div>
            <div style="float:left; padding-left: 10px;">
              URI: <input id="add-uri" name="uri" type="text" size="50"/>
            </div>
            <div style="clear:both"></div>
          </div>
          <div>4. <button id="submitRange">Create set</button></div>
        </div>
      </div>
    </div>

    {{! <div> Download a <a rel="nofollow" href="{zipUrl}">.zip file of the full size images on this page</a> {zipSizeWarning} </div>}}

    <script type="text/javascript" src="/static/aclwidget.js?v=2"></script>
    <script type="text/javascript" src="/static/tag.js"></script>
   
    <script type="text/javascript" id="pageJson">
      {{> pageJson}}
    </script>

    <script type="text/javascript" src="/static/imageSet.js?v=27"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    {{!<script type="text/javascript" src="http://lite.piclens.com/current/piclens.js"></script>}}

    <!-- you can leave src empty and let the js set it after ajax is done,
         but in chrome, when the download is interrupted, it sometimes doesn't
         resume and you see partial img on the next page -->
    <div id="preload">{{> preload}}</div>
  </body>
</html>
