      {{#pageJson}}
      // <![CDATA[
      var picInfo = {{{picInfo}}};
      var arrowPages = {prev: {{{prev}}}, next: {{{next}}} };
      var preloadImg = {{{preloadImg}}};
      // ]]>
      {{/pageJson}}
