      <a href="/events">Home</a> | 
      Pictures of <span class="tag">{{setLabel}}</span> | 
      <a href="{{storyModeUrl}}">Story mode</a>
      {{#intro}}
      <div class="intro">{{{html}}}</div>
      {{/intro}}
