      <a href="/events">Home</a> | 
      Pictures of <span class="tag">{{setLabel}}</span> {{#storyModeUrl}}| 
      <a href="{{storyModeUrl}}">Story mode</a>{{/storyModeUrl}}
      {{#intro}}
      <div class="intro">{{{html}}}</div>
      {{/intro}}
