* {
    font-family: sans-serif;

}
body {
    background: black;
    color: white;
}
h1 {
    font-size: 110%;
}
h2 {
    font-size: 105%;
}
a {
    color: #ccf;
} 
div#facts {
    border: 1px solid gray;
}
img {
    border: 1px solid #668;
}  
div.intro {
    border: 1px solid gray;
    padding-left: 1em;
    margin-right: 10%;
    background: #502000;
}
div.featured {

}
img.not-current, img.current {
vertical-align: middle;
}
img.not-current {
    margin: 2px;
} 
img.current {
    border: 2px solid #ffc;
    padding: 1px;
}
img#preload {
    width: 0px;
    border: 0;
}
span img {
    width: 75px;
    height: 56px;
}
img.spinner {
    border: 0;
    width: 16px;
    height: 16px;
}


div#comments {
    background: #005;
    padding: 2px;
    width: 300px;
}
#comments textarea {
    width: 250px;
}
#comments li { 
    list-style: square;
    border-top: 1px solid #00a;
}
#comments .headercomment {
    font-size:80%;
}


div.tagging {
    width: 350px;
    background: #031;
    padding: 2px;
}
div.tagging div:nth-child(1) {
    height: 3.3em;
}

#tags, #desc {
    border:1px outset gray;
    padding:5px;
}

#tags {
    width:260px;
}
#desc {
    vertical-align: baseline;
    width:308px;
    height:53px;
}
#t1 td {
    vertical-align: top;
}
#saveStatus {
    color: #555;
}
#ajaxError {
    border: 2px solid red;
    background: #600;
    position: absolute;
} 
.actions {
    padding-left: 10px;
}
.actions h2 {
   margin: 0;
   padding: 0;
   color: #ccc;
}
.ac {
    background: #123;
    margin: 4px;
    padding: 3px;
    color: #aaa;
}
.expand {
cursor: pointer;
}
.steps { 
    text-align: center;
    font-size: 80%;
}
.steps a {
    font-size: 30px;
    line-height: 14px;
    text-decoration: none;
    vertical-align: top;
}
.photosInSet span {
    position: relative;
}
.dateChange {
    font-size: 80%;
    color: #777;
    text-align: center;
    padding: 7px 0;
}
.dateChange a {
    color: #77a;
    text-decoration: none;
}

.tagMatches span {
  background: blue;
  margin:2px;
  padding:0 2px;
}

div.loginRow {
    padding-left: 10px;
}
#starTag {
    display: inline-block;
    vertical-align:top;
    width: 24px;
    height: 24px;
    background: url(star-icon-set/star-gold/star-gold24-pair.png?v=2);
    cursor: pointer;
}
#starTag.set {
    background-position: -24px 0;
}