* {
    font-family: sans-serif;

}
body {
    background: black;
    color: white;
}
form {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 110%;
}
h2 {
    font-size: 105%;
}
.video .ovl {
    background: url("/static/vidplay.png") no-repeat scroll 22px 10px rgba(0, 0, 0, 0.5);
    height: 56px;
    left: 3px;
    position: absolute;
    top: -20px;
    right: 6px;
}
a {
    color: #ccf;
} 
div#facts {
    border: 1px solid gray;
}
img {
    border: 1px solid #668;
}  
div.intro {
    border: 1px solid gray;
    padding-left: 1em;
    margin-right: 10%;
    background: #502000;
}
#featuredPic {
    text-align: center;
}
#featuredPic video {

}
span.not-current img, span.current img {
vertical-align: middle;
}
span.not-current img {
    margin: 2px;
} 
span.current img {
    border: 4px solid #ffc;
    padding: 1px;
    margin: -1px;
}
#preload {
    display: none;
}
#photosInSet span img {
    width: 75px;
    height: 56px;
}
img.spinner {
    border: 0;
    width: 16px;
    height: 16px;
}


div#comments {
    background: #005;
    padding: 2px;
    width: 300px;
}
#comments textarea {
    width: 250px;
}
#comments li { 
    list-style: square;
    border-top: 1px solid #00a;
}
#comments .headercomment {
    font-size:80%;
}


div.tagging {
    width: 350px;
    background: #031;
    padding: 8px;
}
div.tagging div:nth-child(1) {
    height: 3.3em;
}

#tags, #desc {
    border:1px outset gray;
    padding:5px;
}

#tags {
    width:260px;
}
#desc {

}
#featuredMeta td {
    vertical-align: top;
}
#saveStatus {
    color: #555;
}
#ajaxError {
    border: 2px solid red;
    background: #600;
    position: absolute;
} 
.actions {
    padding-left: 10px;
}
.actions h2 {
   margin: 0;
   padding: 0;
   color: #ccc;
}
.ac {
    background: #123;
    margin: 4px;
    padding: 3px;
    color: #aaa;
}
.expand {
cursor: pointer;
}
.steps { 
    text-align: center;
    font-size: 80%;
    line-height: 25px;
}
.steps a {
    font-size: 30px;
    padding: 0 6px;
    text-decoration: none;
    vertical-align: top;
}
#photosInSet span {
    position: relative;
}
.dateChange {
    font-size: 80%;
    color: #777;
    text-align: center;
    padding: 7px 0;
}
.dateChange a {
    color: #77a;
    text-decoration: none;
}

.tagMatches span {
  background: blue;
  margin:2px;
  padding:0 2px;
}

div.loginRow {
    padding-left: 10px;
}
.loginBar {
    float: right;
}
#starTag {
    display: inline-block;
    vertical-align:top;
    width: 24px;
    height: 24px;
    background: url(star-icon-set/star-gold/star-gold24-pair.png?v=2);
    cursor: pointer;
}
#starTag.set {
    background-position: -24px 0;
}
span.result {
    color: #4F475C;
}
.aclWidget .inferred {
    color: green;
}
.aclWidget .accessAgents {
    margin: 0;
}
.aclWidget .accessAgents li {
    list-style: none;
}

.aclWidget .expandable {
    background: #2a343d;
    border: 1px solid white;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 100;
    box-shadow: 4px 7px 10px #000000;
    -webkit-box-shadow: 4px 7px 10px #000000;
}
#featuredPic div.nextClick {
   cursor:pointer;
}
#loaded {
    height: 120px;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 9px;
}

#activity {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
#activity span {
    background:  #4B4B4B;
    border: 1px solid #717171;
    border-radius:  4px;
}

.videoProgress {
    color: #7A6BD3;
    margin-top: 100px;
}

.relatedPreview {
    background: url("relatedPreviewBg.png") no-repeat scroll 0 0 transparent;
    height: 77px;
    left: 0;
    padding: 13px 20px 20px 28px;
    position: absolute;
    top: 0;
    width: 507px;
    padding-top: 13px;
    padding-left: 28px;
}
.relatedPreview > div {
    width: 505px;
    height: 76px;
    overflow: hidden;
}
li.previewing {
    background: #434343;
}